* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.master {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background:  linear-gradient(180deg, #807ECE 0%, #8E7ECE 100%);

}

.bgCal {
    width: 22.25rem;
    height: 35.375rem;
    background: rgba(45, 42, 55, 1);
    border-radius: 48px;
}

.top {
    margin-top: 3.375rem;
    margin-inline: 2.25rem 2rem;
    width: 18rem;
    height: 5.5rem;
}

.top img {
    margin-left: 1.1rem;
    position: relative;
    margin-top: 3.4rem;
}

.keyboard {
    width: 18.25rem;
    height: 23rem;
    margin: 1.625rem 2rem 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 0.75rem;
}

.first {
    color: #975DFA;
}

button {
    width: 4rem;
    height: 4rem;
    border-radius: 999px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), linear-gradient(0deg, #2D2A37, #2D2A37);
    border: none;

    box-shadow: 0px 2px 3px 0px rgba(255, 255, 255, 0.06) inset;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

// inside button
button {
    color: #EBEBEB;
    font-size: 1.5rem;
}

.bg-purple {
    background: #462878;
}

.bg-change {
    background: #7F45E2;
}